streamlit==1.32.0
python-dotenv==1.0.1

# AI Core
torch==2.2.1
transformers==4.37.2
sentence-transformers==2.2.2

# Vector Stores
faiss-cpu==1.7.2
chromadb==0.4.22

# Computer Vision
ultralytics==8.1.27
opencv-python-headless==4.9.0.80
pillow==10.1.0

# Utilitas
numpy==1.26.4
requests==2.31.0

# Index URL
--extra-index-url https://download.pytorch.org/whl/cpu
